.ms-btn {
  border: none;
  box-shadow: none;
  position: relative;
  overflow: hidden;
  padding: 10px 15px;
  line-height: 18px;
  border-radius: 3px;
  white-space: nowrap;
  align-items: center;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  justify-items: center;
  font-weight: 400;

  &.ms-btn-danger {
    background: var(--button-danger-bg-color);
    box-shadow: none;
    color: var(--background-default);

    &:hover {
      background: var(--button-danger-hover-bg-color);
    }
  }

  .p-button-label {
    font-weight: 400;
  }

  &.btn-primary {
    background: var(--Primary-color);
    color: #fff;
    outline: none;
    border: none;
  }

  &.ms-btn-primary {
    color: var(--background-default);
    outline: none;
    border: none;
    background: var(--button-primary-bg-color);
    box-shadow: none;

    &:hover {
      background: var(--Primary-color);
    }
  }

  &.btn-danger {
    background: var(--bg-danger);
    border: none;

    &:hover {
      background: var(--bg-danger-hover);
      color: #fff;
    }
  }

  &.btn-bg {
    background: var(--bg-button);
    border-radius: 4px !important;
    color: var(--content-default);
  }

  &:disabled {
    opacity: .65;
    color: #fff;
    background-color: var(--Primary-color-200);
  }

  &.p-selectbutton {
    &.ms-selectbutton_roles {
      display: flex;
      gap: 16px;

      .p-button {
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .05);
        padding: 8px 16px;
        color: #000;

        &:focus {
          box-shadow: unset;
        }

        &:hover {
          background-color: rgba(0, 0, 0, .08);
        }

        &.p-highlight {
          border-color: #2979ff;
          color: #2979ff;
          background: transparent;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    .p-button {
      height: 36px;

      .p-button-label {
        font-weight: 500;
      }
    }

  }

  .text {
    display: inline-block;
    white-space: nowrap;
    padding: 0 16px;
    font-weight: 400;
    font-size: 14px;
  }

  &.custom-btn {
    border: unset;
    color: #000;
    background: white;
    padding: 0;
    display: flex;
    align-items: center;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      background: #e0e0e0;
    }
  }

  &.border-primary {
    font-weight: 500;
    color: #2979ff;
    background: transparent;
    min-height: 0 !important;
    max-height: 20px;

    &:hover {
      color: #1a73e8 !important;
      text-decoration: underline;
    }
  }

  &.primary-outline {
    color: #2979ff;
    background: #fff;
    border: 1px solid #2979ff;

    &:not(:disabled):hover {
      background: #eef4ff;
    }
  }

  &.primary {
    color: #fff;
    background: #127FFF;

    &:not(:disabled):hover {
      background: #1a73e8;
    }
  }

  &.btn-secondary {
    border: 1px solid #e0e0e0;
    color: #000;
    background: #fff;

    &:not(:disabled):hover {
      background: #f4f5f8;
    }
  }

  &.orange {
    background: #FA8232;
    color: #fff;

    &:hover {
      background: var(--Primary-600, #DE732D);

    }
  }

  &.btn-image {
    background: white;
    color: #000;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 106px;
    width: 106px;
    gap: 0 !important;
    border: 1px dashed rgba(0, 0, 0, .14);

    &:hover {
      border-color: #2979ff;
    }
  }

  &.light-pink {
    background: #FFE7D6;
  }

  &.white {
    background: #fff;
  }

  &.secondary {
    background-color: rgba(0, 0, 0, .05);
    color: #000;
    font-weight: 500;

    &:hover {
      background-color: rgba(0, 0, 0, .08);
    }
  }

  &.btn-transparent {
    background-color: transparent;
    color: rgba(0, 0, 0, .55);
    font-weight: 500;

    &:hover {
      background-color: rgba(0, 0, 0, .08);
    }
  }

  &.icon-only {
    min-width: 40px;
  }

  .icon-only {
    width: 24px;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 24px;
  }

  &.border-orange {
    border-radius: 3px;
    border: 2px solid var(--Primary-500, #FA8232);
    background: #fff;
    color: var(--Primary-500, #FA8232);

    &:hover {
      color: #fff;
      background: #FA8232;
    }
  }

  &.border-orange_white {
    border-radius: 3px;
    border: 2px solid var(--Primary-100);
    background: #fff;
    color: var(--Primary-500, #FA8232);

    &:hover {
      color: #fff;
      background: #FA8232;
    }
  }

  &.ms-spit-button_group {
    position: relative;
    display: flex;
    padding-right: 30px;

    .p-splitbutton-defaultbutton {
      background: transparent;
      border: unset;

      &:focus {
        box-shadow: unset;
      }
    }

    .p-splitbutton-menubutton {
      position: absolute;
      width: 100%;
      border: unset;
      background: transparent;

      &:focus {
        box-shadow: unset;
      }

      .p-icon.p-button-icon {
        position: absolute;
        right: 0;
      }
    }
  }
}

.btn-default {
  background: var(--color-light-gray) !important;
  border: none !important;
  outline: none;

  svg {
    width: 12px;
    height: 12px;
  }

  &:hover {
    background-color: var(--bg-btn-default-hover) !important;
  }

  .p-button-label {
    color: var(--color-text-button-default) !important;
  }
}

.btn-clean {
  &:hover {
    fill: var(--Primary-color) !important;
    color: var(--Primary-color) !important;

    .text-secondary {
      color: unset !important;
    }
  }
}

.btn-mono--secondary {
  color: var(--alias-color-content-neutral, #4b5563);
  border: 1px solid var(--global-color-coolgray-400, #9ca3b0);
  background: var(--alias-color-background-default, #fff);
  box-shadow: 0 1px #0000001f;
}

.ms-btn-size-m {
  padding: 8px;
  border-radius: 8px;
  height: 32px;
  gap: var(--space-1);
  font-size: 14px;
  line-height: 16px;
}

.btn-mono--plain {
  color: var(--alias-color-content-neutral);
  background: transparent;
  font-weight: 600;
}

.btn-accent--primary {
  background: var(--alias-color-background-accent);
  box-shadow: 0 -2px #00000029 inset, 0 1px #0000001f;
  color: var(--alias-color-content-default-invert);

  &:hover {
    background: var(--alias-color-background-accent-strong);
  }

  &:disabled {
    color: var(--alias-color-content-faded);
    background: var(--alias-color-background-faded);
    border: 0;
    box-shadow: none;
  }
}

.fix-height--button {
  height: 40px;
}

.btn-link {
  color: var(--Primary-color);
  background: unset;
  text-decoration: unset;
  font-weight: 700 !important;

  &:hover {
    color: var(--btn-link-hover);
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
  }

  &.no-padding {
    padding: 0;
  }
}

.p-selectbutton {
  display: flex;

  .p-button {
    box-shadow: unset;

    &.p-disabled {
      background: var(--color-truegray-50);
      cursor: not-allowed;
    }
  }

  &.medium-button-group {
    .p-button {
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: top !important;
      padding: 6px !important;
      min-height: 40px !important;
      min-width: 40px !important;
      border-radius: 0;
      border: none;

      &:hover {
        background: var(--select-button-default-hover-color) !important;
      }

      &.p-highlight {
        border: none;
      }

      &:first-child {
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
      }

      &:last-child {
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
      }
    }

    &.medium-button-group-default {
      .p-button {
        background: var(--select-button-default-bg-color);
        box-shadow: none;
        color: var(--select-button-default-color);

        &.p-disabled {
          color: var(--select-button-default-svg-disable-color);
        }
      }
    }
  }
}

.discount--action-disable {
  background: var(--background-default) !important;
  color: var(--discount--action-disable-text-color) !important;
  border: 1px solid var(--discount--action-disable-border-color) !important;
}

.btn-outline-secondary {
  color: var(--button-outline-secondary-border-color);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--button-outline-secondary-border-color);
}

.btn {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 15px;
  background: transparent;
  border-radius: 3px;
}
