.ms-calendar-timeonly {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--border-label-hover-description);
  border-radius: 4px;
  box-shadow: none;

  .p-inputtext {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px !important;
    line-height: 18px;
    border: none;
    outline: 0;
    box-shadow: none;
    border-radius: 4px;
  }

  .p-button {
    height: 100%;
    padding: 0;
    background: transparent;
    color: var(--color-coolgray-900);
    border: 0;
    box-shadow: unset;
  }
}
