.p-calendar {
  box-shadow: unset !important;

  &.input-date-picker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    color: var(--alias-color-content-default);
    font-size: 14px;
    line-height: 20px;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    border: 1px solid var(--alias-color-border-strong);
    background: var(--alias-color-background-default);
    font-weight: 400;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }

  &.input-date-picker--old-style {
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    height: 40px !important;

    .p-inputtext {
      padding: 12px !important;
    }
  }

  .p-inputtext {
    border: none !important;
    height: 100%;
    padding: 0 !important;
    box-shadow: unset !important;
  }
}