.p-checkbox .p-checkbox-box {
  width: 18px;
  height: 18px;
}

.p-checkbox {
  width: 18px;
  height: 18px;

  .p-checkbox-box {
    box-shadow: unset !important;
  }
}

.ui-table {
  .p-checkbox-box {
    border: unset;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: var(--bg-input-checkbox) !important;

    .p-checkbox-icon {
      width: 10px;
      height: 10px;
    }

    &.p-highlight {
      background-color: var(--Primary-color) !important;
      border-color: transparent;
    }
  }
}
