.p-dialog {
  border-radius: 4px !important;

  .p-dialog-header {
    width: 100%;
    display: flex;
    flex: 0 0 56px;
    padding: 8px 16px;
    align-items: center;
    gap: 16px;
    background: var(--background-default, #fff);
    border-bottom: .1rem solid #e5e7eb;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--content-default, #111827);
    white-space: pre-wrap;
  }

  .p-dialog-content {
    padding: 0;
  }

  .modal-body {
    background: var(--background-default);
    flex: 1 1 auto;
    overflow: auto;
  }

  &.modal_container {
    box-shadow: unset;

    .p-dialog-footer {
      width: 100%;
      padding: 12px 16px;
      border-top: 1px solid var(--color-coolgray-200);
    }
  }
}

.p-dialog-header-icon {
  &:focus {
    box-shadow: unset;
  }
}

.modal-dialog {
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;

  .product-selector-wrapper {
    max-height: 95vh;
  }
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  flex-direction: row;
  align-items: center;
  min-height: calc(100% - 10px);
}

.omni-modal {
  .modal-header {
    .modal-title {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: var(--color-dark);
    }
  }
}

.modal-body {
  .modal-body-item {
    padding: 24px;
    border-bottom: 1px solid var(--border-item-modal-color);
    cursor: pointer;

    &.modal-body-item:hover {
      background-color: var(--color-truegray-100);
    }

    .modal-body-item-icon {
      position: absolute;
      background: var(--alias-color-background-light);
      border: 1px solid var(--border-top-line-color);
      border-radius: 3px;
      margin-right: 12px;
      padding: 8px;
    }

    .modal-body-item-title {
      display: inline-block;
      margin: 0 24px 0 52px;

      label {
        margin-bottom: 5px;
        font-weight: 500;
        display: block;
      }
    }

    .modal-body-item-icon-right {
      position: absolute;
      margin: 10px 0;
      right: 24px;
      color: var(--color-dark);
    }

    &:first-child {
      border-top: 1px solid var(--border-item-modal-color);
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 17.5px auto;
  }

  .modal-dialog-centered {
    min-height: calc(100% - 35px);
  }
}

@media (max-width: 768px) {
  .omni-modal {
    &.modal-dialog {
      min-width: 100%;
      margin: 0 auto;
      bottom: 0;
      position: fixed;
      top: unset !important;
    }
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
}