.ms-editor {
  border-radius: 3.5px;
}

.ms-editor .border {
  border: 1px solid #e0e0e0;
  border-radius: 3.5px;
}

.ms-editor .border:hover {
  border-color: #1a73e8;
}

.ms-editor .border input {
  border-radius: 3.5px;
}

.ms-editor .border:not(.error):focus-within {
  border-color: #1a73e8;
}

.ms-input-item {
  border: none;
  padding: 9px 12px;
  background: 0 0;
  min-height: 36px;
}

.ms-input-item:focus {
  outline: none;
}

.input {
  font-size: 16px;
  color: #212121;
  line-height: 1.2;
  display: block;
  width: 100%;
  border: 1px solid #e0e5e9;
  background: transparent;
  padding: 10px;
  border-radius: 3px;
}

textarea:focus,
input:focus {
  border-color: #0073e6;
  transition: all .5s;
}

.p-inputtext {
  width: 100%;
  border-radius: 4px !important;
  font-family: GoogleSans, serif !important;
  font-size: 14px !important;
  color: #000 !important;
  display: flex;
  border: 1px solid #e0e0e0;
  align-items: center;
}

.p-inputtext:enabled:focus {
  box-shadow: none !important;
}

.p-inputtext:enabled:hover {
  border-color: #0073e6;
}

.p-inputtext.error {
  border: 1px solid #ef5350;
}

.p-password {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-inputtext.p-invalid.p-component {
  border-color: #e24c4c;
}


.p-input-icon-left > i,
.p-input-icon-right > i {
  top: 14px !important;
}

.p-password.error .p-inputtext {
  border: 1px solid #ef5350;
}

.ms-input_search {
  border: none;
}

/* input number */

.p-inputnumber {
  border: 1px solid var(--Gray-100);
  border-radius: 4px;

  &:hover {
    border-color: #1a73e8;
  }

  .p-inputtext {
    text-align: center;
    border: none;
    min-width: 10px;
  }

  .p-button {
    padding: unset;
    background: #fff;
    border: none;
    border-radius: 4px;
    height: 40px;

    &.p-button-icon-only {
      width: unset;
    }

    .pi {
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      padding-left: 20px;
      padding-right: 20px;
    }

    .pi-minus {
      background-image: url('@public/assets/icons/minus.svg');
    }

    .pi-plus {
      background-image: url('@public/assets/icons/plus.svg');
    }
  }
}

/*input switch*/

.p-inputswitch {
  width: 36px;
  height: 20px;
  box-sizing: border-box;
  display: flex;
}

.p-inputswitch-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: var(--Primary-500);
}

.p-inputswitch .p-inputswitch-slider:before {
  width: 12px;
  height: 12px;
  top: 3px;
  margin-top: 0;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  transform: translateX(0.9rem);
}

.p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: unset;
}

.p-checkbox, .p-radiobutton {
  width: 16px !important;
  height: 16px !important;

  .p-checkbox-input, .p-radiobutton-input {
    position: absolute;
    cursor: pointer;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    border: 0;
    padding: 0;
    opacity: 0;
    z-index: 500;
  }

  .p-checkbox-box {
    border: 1px solid var(--global-color-coolgray-400);
    display: inline-block;
    content: "";
    width: 100% !important;
    height: 100% !important;
    vertical-align: bottom;
    position: relative;
    border-radius: 4px;
  }

  .p-radiobutton-box {
    display: inline-block;
    content: "";
    width: 100% !important;
    border: unset;
    height: 100% !important;
    vertical-align: bottom;
    background: url('@public/assets/icons/ic_radio_inactive.478d13c5.svg') center;
    position: relative;
    border: unset !important;
  }

  .p-radiobutton-input:not(:disabled):not(:checked):hover ~ .p-radiobutton-box {
    cursor: pointer;
    background: url('@public/assets/icons/ic_radio_hover.9f996444.svg') center;
  }

  .p-checkbox-input:checked ~ .p-checkbox-box {
    .p-checkbox-icon {
      display: none;
    }

    background: url('@public/assets/icons/ic_checkbox_active.5a4982e1.svg');
    background-position: center;
    border: unset;
  }

  .p-radiobutton-input:checked ~ .p-radiobutton-box {
    .p-radiobutton-icon {
      display: none;
    }

    background: url('@public/assets/icons/ic_radio_active.68000fa3.svg');
    background-position: center;
    border: unset;
  }

}

.ui-table {
  .p-checkbox-box {
    border: unset;
    border-radius: 2px;
    background-color: var(--bg-input-checkbox) !important;
  }
}

.p-inputswitch.p-highlight .p-inputswitch-slider:before {
  transform: translateX(0.85rem);
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
  background: #2979ff;
}

.p-editor-container {
  &.error {
    border: 1px solid red;
    border-radius: 8px;
  }
}

.p-inputnumber.error {
  border: 1px solid red;
}

.hrv-ui-textarea {
  font-weight: 400;
  line-height: 16px;
  text-transform: initial;
  letter-spacing: initial;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #212121;
  display: block;
  margin: 0;
  max-width: unset;
  min-height: 40px;
  padding: 11px 12px;
  vertical-align: baseline;
  width: 100%;
  max-width: 100%;
  outline: none;
  resize: none;
}

.label-input-group {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-blue-gray);
  margin: 5px 0;
}

.p-inputtext {
  &:not(.p-inputtextarea) {
    padding: 0 10px !important;
  }
}

.ms-input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--content-default);
  border-radius: 8px !important;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  border: 1px solid var(--alias-color-border-strong);
  background: var(--alias-color-background-default);
  font-style: normal;
}

.ms-input-size-m {
  height: 32px;
  font-weight: 400;
  line-height: 20px;
}

.ms-textarea {
  font-weight: 400;
  line-height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 100%;
  outline: none;
  resize: none;
  padding: 8px 10px !important;
  border-radius: var(--radius-rounded-m) !important;
  border: 1px solid var(--alias-color-border-strong, #d1d5db);
  background: var(--alias-color-background-default, #fff);
  color: var(--alias-color-content-default, #111827);
  transition: all .15s ease-out;
}

.ms-input {
  align-self: stretch;
  outline: none;
  flex: 1 0 0;
  padding: 0 10px;
  width: 100%;
  height: 32px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: var(--alias-color-content-default);
  border-radius: 8px !important;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  border: .1px solid var(--alias-color-border-strong);
  background: var(--alias-color-background-default);
  font-style: normal;

  &:focus {
    border: 1px solid var(--alias-color-content-accent);
    box-shadow: 0 0 0 4px var(--color-blue-100);
  }

  &:disabled {
    background: var(--alias-color-background-faded);
  }
}

.ms-input-number {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  flex: 1 1 auto;

  .p-inputtext {
    height: 100%;
  }

  &:has(:disabled) {
    background: var(--alias-color-background-faded);
  }
}

.ms-input-number-size-m {
  height: 32px;
  max-height: 32px;

  .p-inputtext {
    padding: 0 0 0 8px;
  }
}

.ms-input-number-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  font-size: 14px;
  color: var(--alias-color-content-default);
  -webkit-transition: all .15s;
  transition: all .15s;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: .1rem solid var(--alias-color-border-strong);
  background: var(--alias-color-background-default);
  overflow: hidden;
  gap: 8px;
  font-weight: 400;
}

.next-input, .next-input--stylized {
  border: 1px solid var(--color-light-gray);
  color: var(--color-dark);
  font-size: 14px;
  padding: 10px;
  height: 40px;
  border-radius: 4px;
  line-height: 18px;
  display: block;
  width: 100%;
  transition: all .2s ease-out;
  outline: none;
}

.p-icon-field {
  .p-input-icon {
    width: 18px;
    height: 18px;
    margin-top: -9px;
  }

  .p-inputtext {
    padding-left: 35px !important;
    line-height: inherit !important;
    min-height: unset !important;
    border: 1px solid var(--color-light-gray) !important;

    &:focus {
      border-color: var(--color-royal-blue) !important;
    }
  }

  &.p-icon-field-left, &.p-icon-field-right {
    .p-input-icon {
      padding-left: 10px;
      align-self: center;
      flex: none;
      white-space: nowrap;
      height: 18px;
      color: var(--color-blue-gray);
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      cursor: pointer;
    }

    .pi-search {
      background-size: 18px 18px;
      background-image: url('@public/assets/icons/search.svg');
    }
  }

  &.p-icon-field-left {
    .p-inputtext {
      padding: 0 40px !important;
    }
  }

  &.p-icon-field-right {
    .p-inputtext {
      padding: 0 40px 0 10px !important;
    }
  }
}
