@import 'bootstrap/dist/css/bootstrap.css';
@import 'primevue/resources/themes/lara-light-green/theme.css';
@import './dropdown.scss';
@import './input.scss';
@import './icons.scss';
@import './tab-view.scss';
@import './menu.scss';
@import './radio-button.scss';
@import './checkbox.scss';
@import './slider.scss';
@import './table.scss';
@import './dialog.scss';
@import './button.scss';
@import './carousel.scss';
@import './calendar.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: GoogleSans;
  font-size: 14px;
  line-height: 18px;
  text-transform: initial;
  letter-spacing: initial;
  color: #212121;
  background-color: var(--color-coolgray-100);
  overflow: auto;
  font-weight: 400;
}

@font-face {
  font-family: GoogleSans;
  src: url(../assets/fonts/GoogleSans-Regular.otf);
}

@font-face {
  font-family: GoogleSans-Thin;
  src: url(../assets/fonts/GoogleSans-Thin.otf);
}

.font-24 {
  font-size: 24px;
}

@font-face {
  font-family: GoogleSans-Medium;
  src: url(../assets/fonts/GoogleSans-MediumItalic.otf);
}

.font-primeicons {
  font-family: 'primeicons' !important;
}

.font-primeicons .pi {
  font-family: 'primeicons' !important;
}

.p-component {
  font-family: GoogleSans !important;
  font-size: 14px !important;
}

.h-100vh {
  height: 100vh;
}

.p-togglebutton {
  &:hover {
    background-color: rgba(0, 0, 0, .08);
  }

  .p-button {
    background-color: rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .92);
    border: unset;
    gap: 5px;
    display: flex;
    flex-direction: row-reverse;

    .icon_up {
      transform: rotate(0deg);
      transition-duration: .4s;
    }
  }

  &.p-highlight {
    .p-button {
      .icon_up {
        transform: rotate(180deg)
      }
    }
  }
}

.pr-24 {
  padding-right: 24px;
}

.h-40 {
  min-height: 40px !important;
  height: 40px !important;
  max-height: 40px !important;
}

.text-link {
  color: #2979ff !important;
  cursor: pointer;
  border: none !important;
  font-size: 14px;
  font-weight: 400 !important;
}

.pointer {
  cursor: pointer;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-16 {
  font-size: 16px;
}

.flex-1 {
  flex: 1;
}

.fs-48 {
  font-size: 48px;
}

.fs-32 {
  font-size: 32px;
}

.p-16 {
  padding: 16px;
}

.pb-24 {
  padding-bottom: 24px;
}

.p-image img {
  max-width: 100%;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: #EBC80C;
}

.h-48 {
  height: 48px;
}

.h-40 {
  height: 40px;
}

.p-tooltip-text {
  background: #182d4b !important;
  color: #fff !important;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 100;
  padding: 6px !important;
  min-width: 40px;
  text-align: left;
  display: block;
}

a {
  text-decoration: none;
  color: #000;
}

.p-tag.hot {
  color: #fff;
  background: #EE5858;
}

.pl-10 {
  padding-left: 10px;
}

.min-width-200px {
  min-width: 200px !important;
}

.pdl-4 {
  padding-left: var(--space-4) !important;
}

.ml-15 {
  margin-left: 15px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.p-tag.sold-out {
  color: #fff;
  background: #929FA5;
}

.p-tag.sale {
  color: #191C1F;
  background: #EFD33D;
}

.p-tag.best-deal {
  color: #fff;
  background: #2DA5F3;
}

.p-tag.sale-text {
  color: #fff;
  background: #2DB224;
}

.p-tag {
  z-index: 2;
  border-radius: 2px;
  padding: 5px 10px;
  font-style: normal;
  font-weight: 600;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;

  .p-tag-value {
    line-height: unset;
    text-transform: uppercase;
  }
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-tabview-nav-link {
  text-decoration: none;
}

.ms-input-border_error {
  border-color: #e61d1d;
}

.p-timeline-horizontal .p-timeline-event:last-child {
  flex: unset;
}

.truncate-text-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

ol, ul, dl {
  margin: unset;
  padding: unset;
}

.truncate-text-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

/*product list*/
.ms-product-list {
  .ms-product-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
    position: absolute;
    padding: 0px 44px 0px 44px;
    visibility: hidden;
    z-index: 1;
  }

  .ms-item-main {
    height: 100%;
    padding: 16px;
    min-height: 296px;
    border-radius: 4px;
    border: 1px solid #E4E7E9;
  }

  .ms-item {
    min-height: 296px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
  }

  .ms-product_image {
    display: flex;
    align-items: center;
    -o-object-fit: cover;
    object-fit: cover;
    justify-content: center;
    width: 100%;
    max-height: 188px;

    img {
      width: 100%;
    }
  }

  .ms-item:hover {
    .ms-item-main {
      background: var(--Gray-00, #FFF);
      box-shadow: 0px 8px 24px 0px rgba(25, 28, 31, 0.12);
    }

    .ms-product-buttons {
      background: rgba(0, 0, 0, 0.2);
      visibility: visible;
      z-index: 10;
    }
  }

  .ms-offer_name {
    width: 100%;
    padding-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ms-offer_price {
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 600;
    padding-top: 8px;

    .offer-price_final {
      color: #2DA5F3;
    }

    .offer-price_origin:not(:empty) {
      padding-right: 4px;
      color: #929FA5;
      text-decoration: line-through;
    }
  }
}

.status-ctn {
  height: 24px;
  border-radius: 4px;
  padding: 0 16px;
  line-height: 1.5;
  align-items: center;
  width: max-content;
}

.status-ctn .status-dot {
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.status-ctn .status-text {
  padding-left: 6px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

nav a {
  font-weight: unset !important;
}

.flex1 {
  flex: 1;
  min-height: 0;
  min-width: 0;
}

::-webkit-scrollbar-thumb {
  background: #cdd3d6;
  width: 8px;
  height: 8px;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.p-dropdown .p-dropdown-label.p-placeholder {
  color: #6b7280 !important;
}

.ms-error-text {
  margin-top: 6px;
  text-align: left;
  color: #e61d1d;
}

.required {
  color: red;
  margin-right: 4px;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.outline-0 {
  outline: unset !important;
}

.mw-0 {
  min-width: 0 !important;
}

.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid {
  display: grid;
}

.gap-12 {
  gap: 12px;
}

.text-xl {
  font-size: 18px;
}

.text-sm {
  font-size: 12px;
}

.text-2xl {
  font-size: 20px;
}

.text-gray-0 {
  color: rgba(33, 37, 51, 1);
}

.text-gray-3 {
  color: rgba(0, 0, 0, .55);
}

.font-regular {
  font-weight: 400;
}

.form-list {
  padding: 24px;
}

.popup-header {
  height: 60px;
  font-weight: 700;
  background: #fff;

  &.header-shadow {
    margin-bottom: 16px !important;
    box-shadow: 0 1.5px 2px 0 rgba(0, 0, 0, .1);
  }
}

.popup-footer {
  border-top: 1px solid #e0e0e0;
  background-color: #fbfbfe;
  padding: 12px 24px;
}

.flex-1 {
  -moz-box-flex: 1;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
}

.py-32 {
  padding-bottom: 32px;
  padding-top: 32px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.rounded-8 {
  border-radius: 8px;
}

.p-24 {
  padding: 24px;
}

.text-head-l {
  font-size: 20px;
}

.text-gray-1 {
  color: var(--theme-arco-color-text-1);
}

.pb-24 {
  padding-bottom: 24px;
}

.max-w-266 {
  max-width: 266px;
}

.mx-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.r-0 {
  right: 0;
}

.theme-m4b-alert-info {
  background-color: rgba(51, 127, 248, .15);
}

.theme-m4b-alert {
  -moz-box-pack: justify;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 8px;
  color: var(--theme-arco-color-text-1);
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  line-height: 18px;
  padding: 8px 16px;
}

.text-neutral-text1 {
  color: var(--theme-arco-color-text-1);
}

.text-neutral-text2 {
  color: var(--theme-arco-color-text-2);
}

.text-neutral-text3 {
  color: var(--theme-arco-color-text-3);
}

.text-p4-regular {
  font-size: 12px;
  font-weight: 400;
}

.text-body-s-regular {
  font-size: 12px;
  font-weight: 400;
}

.text-primary-normal {
  color: rgb(var(--theme-arco-primary-6));
}

.text-h1-bold {
  font-size: 24px;
}

.font-semibold {
  font-weight: 500;
}

.text-lg {
  font-size: 16px;
}

.w-40 {
  width: 40px;
}

.p-48 {
  padding: 48px;
}

.mx-6 {
  margin-left: 6px;
  margin-right: 6px;
}

.text-primary-normal {
  color: #1a73e8;
}

.rotate-transition {
  transition-duration: 0.4s;
}

.rounded-4 {
  border-radius: 4px !important;
}

.mt-8 {
  margin-top: 8px;
}

.theme-m4b-card {
  background-color: var(--theme-arco-color-bg-white);
  border-radius: 8px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;

  & > .theme-m4b-card-box > .theme-m4b-card-box-info > .theme-m4b-card-info-item:first-child {
    margin-top: 0;
  }

  & > .theme-m4b-card-box > .theme-m4b-card-box-info > .theme-m4b-card-info-desc {
    color: var(--theme-arco-color-text-2);
    font-size: 14px;
    font-weight: 400;
  }
}

.theme-m4b-card-direction-horizontal {
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  padding: 16px;

  .theme-m4b-card-icon {
    margin-right: 16px;
  }

  .theme-m4b-card-box {
    -moz-box-flex: 1;
    -webkit-flex: 1 1;
    flex: 1 1;
  }

  .theme-m4b-card-close {
    right: 16px;
    top: 20px;
  }
}

.theme-m4b-card-shadow {
  box-shadow: 0 8px 20px rgba(0, 0, 0, .12);
}

.theme-m4b-card-close-icon {
  height: 24px;
  width: 24px;
}

.theme-m4b-card-close {
  cursor: pointer;
  position: absolute;
}

.mw-40 {
  max-width: 40%;
}

.ms-image_upload {
  height: 100%;
  left: 50%;
  object-fit: scale-down;
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.filter-overlay {
  .p-overlaypanel-content {
    padding: unset;
  }

  .filter-box {
    z-index: 15;
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(23, 27, 42, .24);

    .box-header {
      width: 100%;
      padding: 12px 22px 8px 24px;
      background-color: var(--primary);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;

      .title {
        font-size: 18px;
        font-weight: 700;
      }
    }

    .box-content {
      width: 100%;
      padding: 12px 24px 10px;
      background-color: var(--primary);
      display: flex;

      .group-form_box {
        .label {
          padding: 8px 8px 0 0;
          color: #666;
          font-size: 14px;
        }
      }
    }

    .box-footer {
      width: 100%;
      padding: 12px 24px;
      background-color: var(--gray);
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-top: 1px solid #ddd;
      display: flex;

      .right-content {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}

.ms-container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mt-10 {
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--shop-color-title);
  margin: 0 0 13px 0;
  font-weight: 700;
  line-height: 1.2;
}

.section-heading .h-title {
  font-size: 24px !important;
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
}

.mh-0 {
  min-height: 0 !important;
}

.h-0 {
  height: 0 !important;
}

.min-width-0 {
  min-width: 0 !important;
}

img {
  max-width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

.layout-wrapper-block {
  flex: 1 1;
  max-width: 100%;
  overflow: auto;
  position: relative;
}

.layout-wrapper-block_sub {
  max-width: calc(100vw - var(--scrollbar-width) - var(--sidebar-width));
  padding: 16px;
}

.padding-container {
  padding: 0 0 30px;
  max-width: 1245px;
  margin: 0 auto;
}

.pdb-0, .pdy-0 {
  padding-bottom: var(--space-0) !important;
}

.title-page {
  margin: 0;
  font-size: 20px;
  color: var(--color-navy);
}

.omni-tabs-wrapper {
  border-bottom: transparent;
  background-color: #fff;
  border-radius: 4px;
  margin: 15px 0;
  box-shadow: 0 0 10px #2121210d;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > .col, & > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
  }
}

.pr-10 {
  padding-right: 10px !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.w-0 {
  width: unset !important;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.text-primary {
  color: var(--Primary-color) !important;
}

.omni-tabs {
  border-radius: 4px;

  .p-tabview-nav-container {
    .p-tabview-nav-content {
      .p-tabview-nav {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
        border-bottom: 1px solid var(--color-light-gray);

        .p-tabview-header {
          display: flex;
          margin: 0;
          padding: 0;
          justify-content: center;
          align-items: center;

          .p-tabview-nav-link {
            justify-content: center;
            display: flex;
            align-items: center;
            text-align: center;
            white-space: nowrap;
            cursor: pointer;
            border-bottom: 2px solid transparent;
            height: 101%;
            margin: 0 16px;
            padding-top: 16px;
            padding-bottom: 14px;

            .p-tabview-title {
              color: var(--color-dark) !important;
              line-height: 18px;
            }
          }

          &.p-highlight {
            .p-tabview-nav-link {
              border-bottom: 2px solid var(--color-blue);
            }
          }

          &:not(.p-highlight):not(.p-disabled):hover {
            .p-tabview-nav-link {
              border-bottom: 2px solid var(--color-border);
            }
          }

        }
      }
    }
  }

  .p-tabmenu-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid var(--color-light-gray);

    .p-tabmenuitem {
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;

      .p-menuitem-link {
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        border: 0 none;
        border-bottom: 2px solid transparent;
        height: 101%;
        margin: 0 16px;
        padding: 16px 0 14px;
        font-weight: 400;

        .p-menuitem-text {
          color: var(--color-dark) !important;
          line-height: 18px;
          font-size: $font-size;
        }
      }

      &.p-highlight {
        .p-menuitem-link {
          border-bottom: 2px solid var(--color-blue);
        }
      }

      &:not(.p-highlight):not(.p-disabled):hover {
        .p-menuitem-link {
          border-bottom: 2px solid var(--color-light-gray);
        }
      }
    }
  }
}

#contextual-portal {
  left: var(--sidebar-width);
  right: 0;
  z-index: 1046;
  position: fixed;

  .contextual-enter-done {
    opacity: 1;
    pointer-events: auto;
  }
}

.ContextualSaveBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  pointer-events: none;
  z-index: 1111;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  height: 100%;
  background-color: #fff;

  .ui-header--notification {
    padding: 0 1.6rem;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: calc(100vw - var(--sidebar-width) - var(--scrollbar-width));
    padding: 0 24px;
  }
}

.ContextualSaveBar__Message {
  font-size: 16px;
  color: var(--color-coolgray-600);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2.4rem;
  font-style: normal;
  font-weight: 600;
}

.animate-transition {
  transition: .4s;
}

.pt-15 {
  padding-top: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.pl-0 {
  padding-left: 0 !important;
}

.text-nodata {
  font-style: italic;
  color: gray;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mr-2x5 {
  margin-right: 2.5px;
}

.pl-2x5 {
  padding-left: 2.5px;
}

.image-wrapper-border {
  border: 1px dashed var(--image-wrapper-border-color);
  border-radius: 4px;
  background-color: var(--background-default);
  z-index: 1;
}

.break-text {
  word-break: break-all;
}

.h4 {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

a {
  color: var(--alias-color-content-accent);
  cursor: pointer;
}

.py-3 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.small {
  font-size: 85% !important;
  font-weight: 400;
}

.mt-5 {
  margin-top: 5px !important;
}

.mr--15 {
  margin-right: -15px;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.pb-30 {
  padding-bottom: 30px;
}

.width-250 {
  width: 250px;
}

.max-width-350px {
  max-width: 350px !important;
}

.min-width-150px {
  min-width: 150px !important;
}

.min-width-250px {
  min-width: 250px !important;
}

.min-width-350px {
  min-width: 350px !important;
}

.mr-15 {
  margin-right: 15px;
}

.thin-b-line {
  border-bottom: 1px solid var(--border-label-hover-description);
}

.h2 {
  font-size: 20px;
  font-weight: 500;
}

.pt-10 {
  padding-top: 10px;
}

.border-top, .border-right, .border-bottom, .border-left {
  border-color: var(--border-tr) !important;
}

.text-success {
  color: var(--color-text-success) !important;
}

.color-black {
  color: #000 !important;
}

.color-coolgray {
  color: var(--color-coolgray-900);
}

.label-hover-description {
  border-bottom: 1px dashed var(--border-label-hover-description);
}

.mb-5 {
  margin-bottom: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.color-202223 {
  color: #202223 !important;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
    outline: none;
    cursor: pointer;
  }
}

.mgy-4 {
  margin-top: var(--space-4) !important;
}

.gap-6 {
  gap: var(--gap-6);
}

.mgb-4, .mgy-4 {
  margin-bottom: var(--space-4) !important;
}

.mgb-3, .mgy-3 {
  margin-bottom: var(--space-3) !important;
}

.border-heavy {
  border: 1px solid var(--alias-color-background-overlay-heavy);
}

.radius-m {
  border-radius: var(--radius-rounded-m) !important;
}

.text-body-m {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.pd-all-20 {
  padding: 20px !important;
}

.mgl-2 {
  margin-left: var(--space-2) !important;
}

.pdr-2 {
  padding-right: var(--space-2) !important;
}

.pdl-2 {
  padding-left: var(--space-2) !important;
}

.text-headl {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.mgt-3 {
  margin-top: var(--space-3) !important;
}

.gap-3 {
  gap: var(--gap-3) !important;
}

.border-default {
  border: 1px solid var(--alias-color-border-default);
}

.h-100 {
  height: 100% !important;
}

.mgr-1 {
  margin-right: var(--space-1) !important;
}

.mgr-2 {
  margin-right: var(--space-2) !important;
}

.gap-10 {
  gap: 10px;
}

.pd-2 {
  padding: var(--space-2) !important;
}

.pdr-4 {
  padding-right: var(--space-4) !important;
}

.fw-semi-bold {
  font-weight: 600 !important;
}

.hrv-card {
  border-radius: 16px;
  background: #fff;
  box-shadow: var(--shadow-s);
  -webkit-box-shadow: var(--shadow-s);
  overflow: hidden;

  &.hrv-card {
    margin-top: var(--space-4);
  }

  .hrv-card-head {
    padding: 16px 16px 0;
    color: var(--content-default);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
}

.mt-15 {
  margin-top: 15px;
}

.mt-16 {
  margin-top: 16px;
}

.pl-15 {
  padding-left: 15px;
}

.m-15 {
  margin: 15px;
}

.p-16px {
  padding: 16px;
}

.hrv-card-section {
  padding: 16px;
}

.box-shadow {
  box-shadow: 0 2px 4px #0000001a;
}

.omni-alert-pannel {
  .alert {
    border: 1px solid var(--alert-border-color);
    border-radius: 5px;
    background-color: var(--alert-bg-color);
    color: var(--color-header-title);
    padding: 20px 20px 10px;
    margin: 0;

    .omni-alert-pannel--icon {
      margin-right: 20px;
    }

    .omni-alert-pannel--content {
      padding-bottom: 10px;
    }
  }

  .alert-info {
    border-color: var(--alert-info-border-color);
    background: var(--alert-info-bg-color);
  }
}

.lh-normal {
  line-height: normal;
}

.ml-5 {
  margin-left: 5px;
}

.color-heather {
  color: var(--color-heather);
}

.font-size-20px {
  font-size: 20px !important;
}

.text-no--data {
  font-size: 20px;
  font-weight: 700;
  color: var(--no-data-color);
  margin-bottom: 10px;
  line-height: 1.3;
}

.my-5 {
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}

.card-divider {
  border-bottom: 1px solid var(--alias-color-border-default);
}

.pdb-4 {
  padding-bottom: var(--space-4) !important;
}

.omni-layout-body {
  padding: 0 0 52px;
  background-color: var(--coolgray100);
  font-style: var(--font-style-default);
  font-weight: var(--font-weight-regular);
  text-decoration: var(--font-decor-default);
}

.hrv-next-input-radio {
  position: relative;
  gap: 8px;
  cursor: pointer;

  label {
    cursor: pointer;
  }

  & + .hrv-next-input-radio {
    margin-top: 16px;
  }
}

.pr-0 {
  padding-right: 0;
}

.fw-600 {
  font-weight: 600;
}

.pdb-3, .pdy-3 {
  padding-top: var(--space-3) !important;
  padding-bottom: var(--space-3) !important;
}

.avatar {
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--color-white);
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  font-weight: 700;
}

.content-neutral {
  color: var(--alias-color-content-neutral);
}

.text-body-s {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-secondary {
  color: gray !important;
}

.pdb-2, .pdy-2 {
  padding-bottom: var(--space-2) !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.mt-16 {
  margin-top: 16px;
}

.p-15 {
  padding: 15px;
}

.mb-2x5 {
  margin-bottom: 2.5px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.text-headm {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.pdr-10, .pdx-10 {
  padding-right: var(--space-10) !important;
}

.title-header {
  font-size: 24px;
  line-height: 32px;
  color: var(--color-navy);
  margin-top: 5px;
}

.wrapper-content {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 10px #2121211a;
}

.mb-30 {
  margin-bottom: 30px;
}

.ui-information {
  padding: 16px;

  .ui-information-head {
    padding-bottom: 16px;
    box-shadow: inset 0 -1px #2632381a;
  }

  .ui-information-body {
    .form-group {
      padding: 16px;
      margin-bottom: 0;
    }
  }
}

.padding-y-20px {
  padding-top: 20px;
  padding-bottom: 20px;
}

.font-weight-500 {
  font-weight: 500;
}

.ui-information-title {
  flex-grow: 1;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  display: inline-block;
}

.pt-16 {
  padding-top: 16px !important;
}

.hrv-image-thumbnail {
  position: relative;
  display: block;
  background: var(--background-image-wrapper);
  padding: 0 0 50px;
  width: 50px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(195, 207, 216, .3);
  }

  .hrv-image-thumbnail--image {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.text-content_accent {
  color: var(--alias-color-content-accent);
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.add-promotions-wrapper--reason-title {
  margin-bottom: var(--gap-1);
}

.content-coolgray--500 {
  color: var(--color-coolgray-500);
}

.pdt-1, .pdy-1 {
  padding-top: var(--space-1) !important;
  padding-bottom: var(--space-1) !important;
}

.hrv-image-thumbnail--image {
  color: var(--color-thumnail-image);
}

svg.hrv-image-thumbnail--image {
  color: #cecece;
}

.ui-title-bar-container {
  padding: 30px 0 0;
  background-color: transparent;
  position: relative;
}

.max-width-center {
  margin: 0 auto;
  max-width: unset;
}

.ui-toolbar-product-info {
  .ui-product-body {
    color: var(--color-blue-gray);
    font-size: 12px;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: .5px;
    text-transform: uppercase;
  }

  .ui-product-head {
    color: var(--color-dark);
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 5px;
  }
}

.omni-badge {
  display: inline-block;
  padding: 0 8px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  height: 24px;
  box-sizing: border-box;
  line-height: 22px;
  width: fit-content;

  &.order-status-badge {
    &.badge-light-success {
      fill: var(--green600);
    }
  }

  &.badge-light-success {
    background-color: var(--green50);
    color: var(--green600);
    border-color: var(--green300);
  }

  &.badge-light-default {
    background-color: var(--color-coolgray-100);
    color: var(--alias-color-content-neutral);
    border-color: var(--color-coolgray-300);
  }
}

.mgl-1 {
  margin-left: var(--space-1) !important;
}

.my-4 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.my-3 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.border-top--line {
  border-top: 1px solid var(--border-top-line-color);
}

.omni-layout-card {
  background: var(--white);
  border-radius: 8px;
  margin-top: 16px;

  &.card-secondary {
    background-color: var(--coolgray50);
    color: var(--contentSecondary);
  }
}

.omni-layout-card--header {
  padding: 16px 16px 0;

  &.line-bottom {
    border-bottom: 1px solid rgb(225 227 229);
    padding-bottom: 16px;
  }

  span.header-title {
    color: var(--color-header-title);
    font-size: $font-size;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }
}

.pb-16 {
  padding-bottom: 16px;
}

.font-italic {
  font-style: italic !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-80 {
  width: 80% !important;
}

.word-break {
  word-break: break-word;
}

.pt-2 {
  padding-top: 2px !important;
}

.ui-main-container {
  max-width: 1000px;
  margin: 10px auto;
  padding: 0 10px 30px;
}

.body-background {
  background-color: var(--bg-body-color);
}

.mgb-0 {
  margin-bottom: var(--space-0) !important;
}

.mgt-1 {
  margin-top: var(--space-1) !important;
}

.mgb-1 {
  margin-bottom: var(--space-1) !important;
}

.mgb-2 {
  margin-bottom: var(--space-2) !important;
}

.mgt-4 {
  margin-top: var(--space-4) !important;
}

.mgb-5, .mgy-5 {
  margin-top: var(--space-5) !important;
  margin-bottom: var(--space-5) !important;
}

.mgt-6, .mgy-6 {
  margin-top: var(--space-6) !important;
  margin-bottom: var(--space-6) !important;
}

.ms-badges {
  padding: 2px 5px !important;
  border-radius: 4px !important;

  .ms-badges-body {
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 16px !important;
  }
}

.ms-avatar {
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--background-default);
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  font-weight: 700;
}

.ms-avatar-string {
  position: absolute;
  left: 50%;
  -webkit-transform-origin: 0 center;
  -ms-transform-origin: 0 center;
  transform-origin: 0 center;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
}

.ms-badges--status-warning-string {
  background-color: var(--bg-badge-warning-color);
  color: var(--text-badge-warning-color);
}

.text-headxl {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.gap-4 {
  gap: var(--gap-4) !important;
}

.min-width-100px {
  min-width: 100px !important;
}

h2 {
  color: inherit;
}

.pd-4 {
  padding: var(--space-4) !important;
}

.setting-line {
  height: 1px;
  width: 100%;
  background: var(--alias-color-border-default);
}

.title-settings {
  color: var(--svg-fill-setting-color);
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}

.sub-settings {
  color: var(--svg-fill-setting-color);
  font-size: 14px;
  margin-bottom: 20px;
}

.ui-annotated-section-container {
  margin: 15px 0;

  .ui-annotated-section {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 30px 0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0;

    .ui-annotated-section__annotation {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 240px;
      -ms-flex: 1 1 240px;
      flex: 1 1 240px;
      padding: 0 64px 0 0;

      .ui-annotated-section__title {
        padding: 15px 0;

        .ui-heading {
          font-size: 16px;
          margin: 0 0 15px;
          color: inherit;
          font-weight: 500;
          line-height: 1.1;
        }
      }
    }

    .ui-annotated-section__content {
      -webkit-box-flex: 2;
      -webkit-flex: 2 1 480px;
      -ms-flex: 2 1 480px;
      flex: 2 1 480px;
      max-width: 100%;
      min-width: 0;
      padding: 0;
    }
  }
}

.ui-main .ui-main-section + .ui-main-section {
  border-top: 1px solid var(--border-top-line-color);
}

.wrapper-content {
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
  box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
}

.ghosty {
  background: transparent;
  box-shadow: none;
}

.omni-layout-card--section {
  padding: 16px;

  & + .omni-layout-card--section, & + .omni-layout-card--header {
    border-top: 1px solid rgb(225 227 229);
  }
}

.omni-layout-card--section-section {

  p.header-title {
    color: var(--color-header-title);
    font-size: $font-size;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  & + .omni-layout-card--section-section {
    padding-top: 16px;
  }
}

.emoji-container {
  padding: 6px 0 0 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
  top: 10px;
}

.emoji-action {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
}

.title-level--sub {
  font-weight: 700;
  line-height: normal;
  font-size: 14px;
  color: var(--color-dark);
  margin: 0 0 15px;
  text-transform: capitalize;
}

.emoji-input {
  flex-grow: 1;
  margin-left: 20px;
}

.timeline-date-event {
  position: relative;
  background: transparent;

  &.timline-date-event--margin {
    margin: 0 0 0 23.5px;
    border-left: solid 4px var(--color-light-gray);
  }

  &:first-child {
    border-top: none;
  }

  .timeline-date-time {
    font-weight: 600;
    display: inline-block;
    font-size: 14px;
    color: var(--color-dark);
    padding: 25px 20px 25px 34px;
  }

  .timeline-event-content {
    position: relative;

    &:before {
      content: "";
      width: 12px;
      height: 12px;
      background: var(--bg-time-line);
      border-radius: 20px;
      position: absolute;
      top: 20px;
      left: -8px;
      z-index: 2;
    }

    .timeline-item {
      background: transparent;
      color: var(--color-dark);
      padding: 0;
      position: relative;

      .timeline-body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px;

        .timeline__message-container {
          flex: 2;

          .timeline__inner-message {
            line-height: 1.5;
          }
        }
      }
    }
  }
}

.wrapper-card-content {
  background: #fff;
  border: 1px solid var(--border-label-hover-description);
  box-sizing: border-box;
  border-radius: 4px;
}

@supports (overflow: clip) {
  .hrv-card {
    overflow: clip;
  }
}

@media (min-width: 500px) {
  .layout-wrapper-block_sub {
    padding: 20px;
  }
}

@media (min-width: 808px) {
  .layout-wrapper-block_sub {
    padding: 24px;
  }
}

@media (min-width: 992px) {
  .mt-lg-0 {
    margin-top: 0 !important;
  }
}

@media (min-width: 1036px) {
  .layout-wrapper-block_sub {
    padding: 24px;
  }
}

@media (min-width: 1200px) {
  .ms-container-fluid {
    max-width: 1400px;
    justify-content: space-between;
  }
}

@media (max-width: 660px) {
  .page-header .action {
    display: none;
  }
}

@media (max-width: 568px) {
  .ui-annotated-section-container {
    .ui-annotated-section {
      padding: 0;

      .ui-annotated-section__annotation {
        .ui-annotated-section__title {
          padding-left: 15px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .ui-toolbar-product-info {
    width: 100%;
    margin: auto;
    border-right: 0 !important;
  }
}

@media (max-width: 576px) {
  .btn-xs-block {
    display: block;
    width: 100%;
  }

  .m-xs-l-0 {
    margin-left: 0 !important;
  }
}
