.p-radiobutton {
  width: 18px;
  height: 18px;

  .p-radiobutton-box {
    box-shadow: unset !important;
  }
}

.ms-next-input-radio {
  gap: 10px;
  display: flex;

  & + .ms-next-input-radio {
    margin-top: 16px;
  }

  .ms-next-label--switch {
    line-height: 1px;
    cursor: pointer;
    color: var(--color-dark);
    font-weight: 400;
  }

  .p-radiobutton {
    .p-radiobutton-box {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 16px;
      width: 16px;
      background: var(--select-button-default-bg-color);
      margin: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      vertical-align: middle;
      cursor: pointer;

      .p-radiobutton-icon {
        content: "";
        display: block;
        height: 8px;
        width: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 100%;
        background-color: transparent;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        -webkit-transition: -webkit-transform .15s ease-in-out;
        transition: -webkit-transform .15s ease-in-out;
        transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
      }

      &.p-highlight {
        background-color: var(--button-primary-bg-color);

        .p-radiobutton-icon {
          background-color: var(--background-default);
          -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }
}
