.ui-table-listing-container {
  width: 1px;
  max-width: 100%;
  min-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  box-shadow: 0 0 10px #2121210d;
  border-radius: 4px;

  .ui-table {
    min-width: 100%;
    width: 100%;
    border-spacing: 0 10px;
    max-width: 1240px;

    thead {
      tr {
        background-color: var(--bg-tr);

        th {
          background: unset;
          padding: 15px;
          color: #575962;
          font-weight: 700;
          line-height: 18px;
          font-size: 12px;

          &:nth-child(2) {
            padding-left: 0;
          }
        }
      }
    }

    tbody {
      tr {
        background: #fff;
        box-shadow: inset 0 -1px #2632381a;

        &:not(.p-datatable-row-expansion):hover {
          background-color: var(--border-tr-hover);
        }

        td {
          padding: 15px;
          min-width: 5px;

          &:nth-child(2) {
            padding-left: 0;
          }
        }
      }
    }
  }
}

.table-list--config .ui-table-listing-container, .table-list--config .wrapper-content {
  box-shadow: unset;
}

.table-header--check {
  width: 30px;
}

.table-break-word {
  white-space: pre-wrap;
  word-wrap: break-word;
  pointer-events: auto;
  display: block;
  word-break: break-all;
  word-break: break-word;
}

.table-cell--image {
  max-width: 50px;
  max-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid #ebecf0;
  vertical-align: middle;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .box-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}

.p-paginator-bottom {
  padding: 15px;
}

.p-paginator {
  padding: 0;

  .p-dropdown {
    margin: 0;
    height: 36px;
  }

  .p-paginator-left-content {
    flex: 1;
  }

  .p-paginator-page, .p-paginator-element {
    margin: 0 3px;
    border-radius: 3px;
    min-width: 36px;
    min-height: 36px;
    height: 36px;
    line-height: 18px;
    text-align: center;
    padding: 7.5px 15px;
    color: var(--color-dark) !important;
    background-color: #fff;
    border: 1px solid var(--white-200);

    &:hover {
      text-decoration: none;
      background-color: #e9ecef;
      border-color: var(--white-200);
    }

    &.p-highlight {
      background: #fff;
      border-color: var(--Primary-color-300);

      &:hover {
        z-index: 1;
        background: #fff;
        border-color: var(--Primary-color-300);
        cursor: default;
      }
    }
  }
}

.p-datatable-table {
  .p-datatable-tbody {
    tr {
      &:has(+ .p-datatable-row-expansion) {
        .svg-rotate {
          transform: rotate(180deg);
        }
      }
    }
  }
}
