$padding-base: 300px;
$input-select-height: 36px;
$font-size: 14px;
$header-height-admin: 56px;
:root {
  --Primary-600: #DE732D;
  --Primary-500: #FA8232;
  --Primary-200: #FFCEAD;
  --Primary-100: #FFE7D6;
  --Primary-color: #2962ff;
  --Primary-color-200: #5d94e4;
  --Primary-color-300: #287eca;
  --Gray-00: #FFF;
  --Gray-50: #F2F4F5;
  --Gray-100: #E4E7E9;
  --Gray-200: #C9CFD2;
  --Gray-400: #929FA5;
  --Gray-600: #5F6C72;
  --Gray-700: #475156;
  --Gray-900: #191C1F;
  --Secondary-50: #EAF6FE;
  --Secondary-500: #2DA5F3;
  --Success-50: #EAF7E9;
  --Success-100: #D5F0D3;
  --Success-500: #2DB224;
  --Warning-50: #FDFAE7;
  --Warning-200: #F7E99E;
  --theme-arco-color-text-1: rgba(0, 0, 0, .92);
  --theme-arco-color-text-2: rgba(0, 0, 0, .65);
  --theme-arco-color-text-3: rgba(0, 0, 0, .55);
  --theme-arco-primary-6: rgba(0, 153, 149);
  --theme-arco-color-bg-bg1: #f0f0f0;
  --theme-arco-color-bg-white: #fff;
  --primary: #fff;
  --gray: #fbfbfe;
  --Danger-100: #c4123f;
  --shop-color-bg: #f7f7f7;
  --shop-color-main: #c31425;
  --shop-color-text: #252a2b;
  --shop-color-title: #c31425;
  --shop-color-hover: #c31425;
  --shop-color-button: #c31425;
  --shop-color-border: #eae4e8;
  --home-category-bg-1: #faf1ff;
  --home-category-bg-2: #faf4eb;
  --home-category-bg-3: #f4e6e5;
  --home-category-bg-4: #e6f2f4;
  --home-category-bg-5: #fff6f6;
  --home-coupon-bg: #fdf0d1;
  --home-coupon-light: #f1c150;
  --home-coupon-border: #f8d0d3;
  --home-coupon-text: #333333;
  --home-collection1-bg: #ffeef0;
  --home-collection1-icon: #c4122f;
  --home-collection1-color-text: #333333;
  --home-categorize-bg: #c4122f;
  --home-categorize-color: #ffffff;
  --home-collection2-bg: #d7d5c9;
  --home-collection2-title: #ff0000;
  --home-collection3-bg: #e9dabe;
  --footer-bg-color-1: #ffffff;
  --footer-bg-color-2: #ffffff;
  --footer-bg-color-copyright: #f2f8fd;
  --footer-color-title: #333333;
  --footer-color-text: #333333;
  --footer-color-hover: #c31425;
  --color-gray-muted: #928c8c;
  --gray-light: #9a9a9a;
  --gray-dark: #333;
  --gray-600: #565656;
  --red-600: #c4123f;
  --color-white: #fff;
  --color-coolgray-50: #f9fafb;
  --color-coolgray-100: #f3f4f6;
  --color-coolgray-200: #e5e7eb;
  --color-coolgray-300: #d1d5db;
  --color-coolgray-400: #9ca3b0;
  --color-coolgray-500: #6b7280;
  --color-coolgray-600: #4b5563;
  --color-coolgray-700: #384252;
  --color-coolgray-800: #1f2937;
  --color-coolgray-900: #111827;
  --color-truegray-50: #fafafa;
  --color-truegray-100: #f5f5f5;
  --color-truegray-200: #e6e6e6;
  --color-truegray-300: #d4d4d4;
  --color-truegray-400: #a3a3a3;
  --color-truegray-500: #737373;
  --color-truegray-600: #525252;
  --color-truegray-700: #404040;
  --color-truegray-800: #262626;
  --color-truegray-900: #171717;
  --color-green-50: #f2fdf5;
  --color-green-100: #d3f8dd;
  --color-green-200: #bbf7d0;
  --color-green-300: #85efac;
  --color-green-400: #4ade80;
  --color-green-500: #21c45d;
  --color-green-600: #16a249;
  --color-green-700: #157f3c;
  --color-green-800: #166434;
  --color-green-900: #14522d;
  --color-red-50: #fef1f1;
  --color-red-100: #fee1e1;
  --color-red-200: #fec8c8;
  --color-red-300: #fca6a6;
  --color-red-400: #f87272;
  --color-red-500: #ef4343;
  --color-red-600: #dc2828;
  --color-red-700: #ba1c1c;
  --color-red-800: #981b1b;
  --color-red-900: #811d1d;
  --color-blue-50: #f0f6ff;
  --color-blue-100: #dcebfe;
  --color-blue-200: #bedbfe;
  --green50: #f2fdf5;
  --green600: #16a249;
  --color-blue-300: #91c3fd;
  --color-blue-400: #61a6fa;
  --color-blue-500: #3c83f6;
  --color-blue-600: #2463eb;
  --color-blue-700: #1d4fd7;
  --color-blue-800: #1e3fae;
  --color-blue-900: #1e3b8a;
  --color-rose-600: #e11d48;
  --color-light-gray: #e3e9ed;
  --color-dark: #212121;
  --link-color: #007bff;
  --color-blue: #2962ff;
  --color-navy: #042659;
  --color-royal-blue: #0052cc;
  --color-blue-gray: #6c798f;
  --color-text-button-default: #3d4f6e;
  --border-tr: #ebeef0;
  --border-tr-hover: #d0d5dd33;
  --bg-tr: #fcfcfc;
  --color-text-success: #28a745;
  --border-label-hover-description: #d9d9d9;
  --btn-link-hover: #024e79;
  --white-200: #dee2e6;
  --white: #ffffff;
  --bg-time-line: #7790b6;
  --bg-danger: #f44336;
  --bg-danger-hover: #de1d0f;
  --bg-button: #e9ecef;
  --color-header-title: #202223;
  --content-default: #111827;
  --bg-input-checkbox: #e2e5ec;
  --bg-btn-default-hover: #c2cdd8;
  --alias-color-content-default-invert: #fff;
  --alias-color-content-critical: #dc2828;
  --alert-info-border-color: #98c6cd;
  --alert-info-bg-color: #ebf9fc;
  --file-upload-border-color: #36a3f7;
  --file-upload-item-border-color: #dfe1e5;
  --file-upload-product-photo-hover-overlay: #31373dbf;
  --alert-border-color: #babfc3;
  --color-heather: #c3cfd8;
  --alert-bg-color: #f6f6f7;
  --no-data-color: #0279c7;
  --image-wrapper-border-color: #d0d5dd;
  --button-outline-secondary-border-color: #6c757d;
  --button-danger-bg-color: #fc625d;
  --button-danger-hover-bg-color: #e65b57;
  --button-primary-bg-color: #2979ff;
  --discount--action-disable-border-color: #cc3300;
  --discount--action-disable-text-color: #c30;
  --backgroundAccent50: #f0f6ff;
  --alias-color-content-light: #9ca3b0;
  --alias-color-content-neutral-invert: rgba(255, 255, 255, .7);
  --alias-color-content-success: #16a249;
  --alias-color-background-default-invert: #111827;
  --alias-color-background-accent: #2463eb;
  --alias-color-background-critical: #dc2828;
  --alias-color-background-washout: #edeff2;
  --alias-color-background-light: #f9fafb;
  --alias-color-background-accent-light: #dcebfe;
  --alias-color-background-overlay-strong: rgba(229, 231, 235, .5);
  --alias-color-border-critical: #dc2828;
  --alias-color-border-default: #e5e7eb;
  --alias-color-border-accent: #2463eb;
  --alias-color-border-light: #f3f4f6;
  --alias-color-background-overlay-heavy: rgba(229, 231, 235, .8);
  --alias-color-background-accent-strong: #1d4fd7;
  --alias-color-content-faded: #d1d5db;
  --select-button-default-color: #424242;
  --select-button-default-bg-color: #eee;
  --select-button-default-hover-color: #e0e0e0;
  --select-button-default-svg-disable-color: #dadada;
  --radius-rounded-s: .4rem;
  --radius-rounded-m: 8px;
  --radius-rounded-l: 16px;
  --radius-rounded-pill: 6.4rem;
  --svg-color-lightblue: #27c1f0;
  --border-top-line-color: #dfe3e8;
  --alias-color-content-accent: #2463eb;
  --alias-color-background-dark: #edeff2;
  --alias-color-content-default: #111827;
  --alias-color-content-neutral: #4b5563;
  --alias-color-border-strong: #d1d5db;
  --alias-color-background-default: #fff;
  --bg-tag-color: #0000000d;
  --border-item-modal-color: #e9eaeb;
  --contentSecondary: #4b5563;
  --coolgray50: #f9fafb;
  --background-default: #fff;
  --background-image-wrapper: #fafbfc;
  --color-thumnail-image: #cecece;
  --alias-color-background-faded: #f3f4f6;
  --global-color-coolgray-400: #9ca3b0;
  --radius-sharp: 1px;
  --gap-1: 4px;
  --gap-2: 8px;
  --gap-3: 12px;
  --gap-4: 16px;
  --gap-5: 20px;
  --gap-6: 24px;
  --space-0: 0px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 2.8rem;
  --space-8: 3.2rem;
  --space-9: 3.6rem;
  --space-10: 40px;
  --space-11: 4.4rem;
  --space-12: 4.8rem;
  --space-13: 5.2rem;
  --space-14: 5.6rem;
  --space-15: 6rem;
  --space-16: 6.4rem;
  --space-20: 8rem;
  --space-24: 9.6rem;
  --shadow-xs: 0px 0px 1px 0px rgba(0, 0, 0, .24), 0px 1px 0px 0px rgba(0, 0, 0, .12);
  --shadow-s: 0px 0px 1px 0px rgba(0, 0, 0, .24), 0px 1px 2px 0px rgba(0, 0, 0, .12);
  --shadow-m: 0px 0px 1px 0px rgba(0, 0, 0, .24), 0px 2px 4px 0px rgba(0, 0, 0, .12);
  --shadow-l: 0px 0px 1px 0px rgba(0, 0, 0, .24), 0px 4px 8px 0px rgba(0, 0, 0, .12);
  --shadow-xl: 0px 0px 1px 0px rgba(0, 0, 0, .24), 0px 12px 24px 0px rgba(0, 0, 0, .16);
  --shadow-2xl: 0px 0px 1px 0px rgba(0, 0, 0, .24), 0px 20px 48px 0px rgba(0, 0, 0, .2);
  --sidebar-width: 240px;
  --header-height: 56px;
  --font-weight-extrabold: 800;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --font-weight-extralight: 200;
  --font-decor-default: unset;
  --font-decor-underline: underline;
  --bg-dropdown-item-hover: #2962ff26;
  --bg-body-color: #f4f6f8;
  --border-tab-view-color: #c4cdd5;
  --bg-tab-view-color: #f5f6f7;
  --border-tab-link-highlight-color: #01579b;
  --text-tab-link-color: #637381;
  --svg-fill-setting-color: #0d3064;
  --bg-badge-warning-color: #fdbe4133;
  --text-badge-warning-color: #fdbd41;
  --alias-color-content-danger: #dc2828;
  --bg-ms-table-hover-color: #f2f3f5;
  --alias-color-background-overlay-neutral: rgba(229, 231, 235, .5);
  --bg-omni-card-item: #e1e3e5;
  --text-ghost-color: #a6a6a6;
  --border-omni-button-color: #0041a7;
  --bg-omni-button-color: linear-gradient(180deg, #4275ff, #2962ff);
  --box-shadow-omni-button-color: #00254f1a;
  --bg-omni-button-disabled-color: #e0e7ff;
  --bg-omni-button-secondary-color: linear-gradient(180deg, #fff, #f9f9f9);
  --bg-omni-button-secondary-hover-color: linear-gradient(180deg, #f9f9f9, #efefef);
  --box-shadow-button-secondary-color: #2121210d;
  --box-shadow-button-secondary-hover-color: #2121210d;
  --blue600: #2463eb;
  --borderPrimary: #e5e7eb;
  --bg-button-tertiary-color: #e5e7eb80;
  --bg-hover-button-tertiary-color: #e5e7ebcc;
  --box-shadow-button-tertiary-color: #0000001f;
}

@media (max-width: 992px) {
  :root {
    --sidebar-width: 0;
  }
}
